<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edu.dao.UserDao">
    <select id="selectUsersAll" resultType="org.edu.po.Users"
            parameterType="org.edu.po.Users">
        select * from users;
    </select>
</mapper>