<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--mybatis配置文件的标签顺序必须是以下顺序：
    The content of element type “configuration”
    must match “(properties?,settings?,typeAliases?,
    typeHandlers?,objectFactory?,objectWrapperFactory?,
    reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)”.
    -->

    <properties resource="db.properties" />
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="org.edu" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--  <mapper resource="cn/edu/CountryMapper.xml"/>  -->

        <!-- 包下的所有映射器 -->
        <package name="org.edu" />
    </mappers>

    <!-- step1: 配置数据库连接信息 -->


    <!-- step2: 指定java bean生成的位置
        targetProject 指的是 哪个项目
        targetPackage 指的是 项目中的路径
    -->
    <javaModelGenerator targetPackage="org.edu.po" targetProject=".\src">
        <property name="enableSubPackages" value="true"/>
        <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!-- step3：指定sql映射文件生成的位置 -->
    <sqlMapGenerator targetPackage="org.edu.mapper" targetProject=".\src">
        <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>

    <!-- step4: 指定接口生成的位置 -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="org.edu.dao" targetProject=".\src">
        <property name="enableSubPackages" value="true"/>
    </javaClientGenerator>
    

</configuration>